<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp.addressbook.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcp.addressbook.Perspective"
            name="RCP Perspective"
            id="RCP.AddressBook.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="Address.Book.Views.ContactView"
            icon="icons/eclipse16.png"
            id="RCPAddressBookApp.view"
            name="Contact View"
            restorable="true">
      </view>
      <view
            class="Address.Book.Views.DetalisView"
            icon="icons/eclipse16.png"
            id="RCPAddressBookApp.detalis"
            name="Detalis View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="addressBook.editor.Editor"
            default="false"
            icon="icons/eclipse16.png"
            id="RCPAddressBookApp.editor.create"
            name="Create">
      </editor>
      <editor
            class="addressBook.editor.Editor"
            default="false"
            icon="icons/eclipse16.png"
            id="RCPAddressBookApp.editor.Edit"
            name="Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="RCPAddressBookApp.detalis"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
         <view
               closeable="false"
               id="RCPAddressBookApp.view"
               minimized="false"
               moveable="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="RCPAddressBookApp.contactContribution"
            targetID="RCPAddressBookApp.view">
         <action
               class="rcpaddressbookapp.DeleteAction"
               enablesFor="1"
               id="RCPAddressBookApp.action2"
               label="Delete"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="rcpaddressbookapp.EditAction"
               enablesFor="1"
               id="RCPAddressBookApp.editor.Edit"
               label="Edit"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="rcpaddressbookapp.CreateAction"
               id="RCPAddressBookApp.editor.create"
               label="Create"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>

</plugin>
