<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpworkbenchtutorial.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcpworkbenchtutorial.Perspective"
            name="RCP Perspective"
            id="rcpworkbenchtutorial.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rcpworkbenchtutorial.command.AboutCommand"
            id="rcpworkbenchtutorial.command.about"
            name="About">
      </command>
      <command
            defaultHandler="rcpworkbenchtutorial.command.UserCommand"
            id="rcpworkbenchtutorial.command.user"
            name="Call UserEditor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               tooltip="File">
            <command
                  commandId="rcpworkbenchtutorial.command.user"
                  icon="icons/user.png"
                  label="Open UserEditor"
                  style="push"
                  tooltip="Open UserEditor">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/exit.png"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help"
               tooltip="Help">
            <command
                  commandId="rcpworkbenchtutorial.command.about"
                  icon="icons/about.png"
                  label="About"
                  style="push"
                  tooltip="About">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar1">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/exit.png"
                  label="Exit"
                  style="push">
            </command>
            <command
                  commandId="rcpworkbenchtutorial.command.about"
                  icon="icons/about.png"
                  label="About"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="toolbar0">
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcpworkbenchtutorial.view.ContactView"
            icon="icons/contact.png"
            id="rcpworkbenchtutorial.view.contact"
            name="Contact"
            restorable="true">
      </view>
      <view
            class="rcpworkbenchtutorial.view.CategoryView"
            id="rcpworkbenchtutorial.view.category"
            name="Category"
            restorable="true">
      </view>
      <view
            class="rcpworkbenchtutorial.view.HistoryView"
            id="rcpworkbenchtutorial.view.history"
            name="History"
            restorable="true">
      </view>
      <view
            class="rcpworkbenchtutorial.view.TableView"
            id="rcpworkbenchtutorial.view.table"
            name="Table"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="rcpworkbenchtutorial.view.table"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="rcpworkbenchtutorial.perspective">
         <view
               closeable="true"
               id="rcpworkbenchtutorial.view.contact"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="true"
               id="rcpworkbenchtutorial.view.category"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="rcpworkbenchtutorial.view.contact"
               showTitle="true">
         </view>
         <view
               closeable="true"
               id="rcpworkbenchtutorial.view.history"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="rcpworkbenchtutorial.view.contact"
               showTitle="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rcpworkbenchtutorial.editor.UserEditor"
            default="true"
            icon="icons/user.png"
            id="rcpworkbenchtutorial.editor.user"
            name="UserEditor">
      </editor>
   </extension>

</plugin>
